@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Futura';
  src: url('./assets/fonts/Futura-Heavy.ttf');
}

@font-face {
  font-family: 'OpenSans';
  src: url('./assets/fonts/OpenSans-CondBold.ttf');
}

@font-face {
  font-family: 'Barlow';
  src: url('./assets/fonts/BarlowCondensed-Black.ttf');
}

@font-face {
  font-family: 'Iosevka';
  src: url('./assets/fonts/Iosevka-Regular.ttf');
}

@layer components {
  .heading {
    font-family: OpenSans;
    letter-spacing: -0.01em;
    @apply leading-6 m-0;
  }

  .display {
    font-family: Futura;
    letter-spacing: 0.25em;
    text-transform: uppercase;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply heading;
  }

  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  h4 {
    @apply text-lg;
  }

  h6 {
    @apply text-sm;
  }

  .button {
    @apply flex m-0 py-2 px-6 rounded border-orange bg-orange border-2 cursor-pointer place-items-center place-content-center text-center rounded-lg heading transition ease-in-out duration-100;
  }

  button {
    @apply button;
  }

  .clear {
    @apply bg-transparent border-transparent font-bold hover:bg-white/25 font-['Barlow'];
  }
  
  .alt {
    @apply bg-white text-black border-white hover:bg-orange hover:text-white;
  }

  .thin {
    @apply !p-0 !border-none;
  }

  .icon {
    @apply 
      flex items-center place-content-center 
      bg-transparent 
      w-11 p-3 text-[14px] 
      rounded-full border-white/25;
  }

  .icon.alt {
    @apply border-black/25 hover:border-white/25
  }
}


/*
 * draggable file tree style overrides 
 */
.rstcustom__node > div {
 display: flex;
}

.rstcustom__expandButton,
.rstcustom__collapseButton {
  display: none;
}

.rstcustom__rowLabel {
  flex-grow: 1 !important;
}

.rstcustom__rowWrapper, .rstcustom__row {
  flex-grow: 1;
}

.rstcustom__rowWrapper:hover {
  opacity: 1 !important;
}

:root {
  --text-light: #FFF5D9;
  --text-dark: #22211F;
  --text-orange: #FF7533;
  --orange-light: #F36822;
  --orange-medium: #F35422;
  --orange-burnt: #E25F35;

  --medium-gray: 7E7E7E;
  --gray-button: #fdf5dc40;
  --input-background: rgba(243, 84, 34, 0.25); /* orange-medium */
}

body {
  background-color: var(--gray-button);
  color: var(--text-light);
  background: url('./assets/background.jpg') no-repeat center center fixed;
  background-size: cover;
}

input {
  all: unset;
}
input[type="text"],
input[type="password"],
input[type="checkbox"] {
  padding: 0.5em 1em;
  border: 2px solid var(--orange-medium);
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 1em;
  background-color: var(--input-background);
  color: var(--text-light);
}
input[type="text"],
input[type="password"] {
  width: 100%;
}
input[type="checkbox"] {
  padding: 0.25em 0.8em;
  cursor: pointer;
}
input[type="checkbox"]:checked {
  background-color: var(--orange-medium);
}
.checkmark {
  position: absolute;
  left: 4px;
  font-size: 24px;
  top: -5px;
  cursor: pointer;
}
::placeholder {
  color: var(--text-light) !important;
}
::-webkit-input-placeholder::placeholder {
  color: var(--text-light) !important;
}
::-moz-placeholder::placeholder {
  color: var(--text-light) !important;
}
::-ms-input-placeholder {
  color: var(--text-light) !important;
}

button:hover {
  opacity: 0.9;
  box-shadow: none;
}

button:disabled {
  background-color: var(--medium-gray);
  border: 1px solid var(--medium-gray);
  box-shadow: 0 1px 2px var(--medium-gray);
  opacity: 0.7;
  cursor: not-allowed;
}

.obox {
  background-color: var(--input-background);
  @apply rounded-lg p-4 m-4;
}
