@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Futura';
  src: url('./assets/fonts/Futura-Heavy.ttf');
}

@font-face {
  font-family: 'OpenSans';
  src: url('./assets/fonts/OpenSans-CondBold.ttf');
}

@font-face {
  font-family: 'Barlow';
  src: url('./assets/fonts/BarlowCondensed-Black.ttf');
}

@font-face {
  font-family: 'Iosevka';
  src: url('./assets/fonts/Iosevka-Regular.ttf');
}

@layer components {
  .heading {
    font-family: OpenSans;
  }

  .display {
    font-family: Futura;
    letter-spacing: 0.25em;
    text-transform: uppercase;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply heading;
  }

  .button {
    @apply bg-blue-500 hover:bg-blue-700 font-bold py-2 px-4 rounded cursor-pointer text-center
  }

  button {
    @apply button;
  }
}

.rstcustom__expandButton, .rstcustom__collapseButton {
  z-index: 1 !important;
  left: 16px !important;
}